*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(#f7a4f7,#f16161);
}
#heads-count,#tails-count{
    color: aliceblue;
    font-size: 20px;
}
.container{
    background-image: linear-gradient(#624be0,#66f161);
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.stats{
    text-align: center;
    color: #101020;
    font-weight: 500;
    line-height: 25px;
}
.coin{
    height: 150px;
    width: 300px;
	position: realtive;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.coin img{
    width: 490px;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}
.buttons{
    display: flex;
    justify-content: space-between;
}
button{
    width: 140px;
    padding: 10px 0;
    border: 2.5px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
}
#flip-button{
    background-image: linear-gradient(to right, #00ff15 5%, rgb(255, 255, 255)  50%, rgb(229, 255, 0)  100%);
    color: rgb(255, 0, 234);
    box-shadow: 5px 5px 20px rgb(255, 0, 221);
    border-color: blue;
	font-weight: bold;
	font-size: 25px;
    text-align: center;
    transition: 0.5s;
    width: 140px;
    height:60PX;
    border-radius: 10px;
    background-size: 200% auto;
}

#reset-button{
    background-image: linear-gradient(to right, #00ff15 5%, rgb(255, 255, 255)  50%, rgb(229, 255, 0)  100%);
    color: rgb(255, 0, 234);
    box-shadow: 5px 5px 20px rgb(255, 0, 221);
    border-color: blue;
	font-weight: bold;
	font-size: 25px;
    text-align: center;
    transition: 0.5s;
    width: 140px;
    height:60PX;
    border-radius: 10px;
    background-size: 200% auto;
}
#flip-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
}
#reset-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
}